#### Exercise 2:

In [6]:
# Importing packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
import warnings 
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

In [2]:
df = pd.read_csv(r'C:\Users\ASUS\Downloads\mnist.csv')

In [3]:
df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Separating the labels from the dataset
y = df['label'] 
X = df.drop('label',axis = 1)

In [5]:
# Confriming with the shapes
print(y.shape)
print(X.shape)

(42000,)
(42000, 784)

In [ ]:
X = StandardScaler().fit_transform(X)
X_embedded = TSNE(n_components=2, random_state=0).fit_transform(X)

In [ ]:
plt.figure(figsize=(12,10))
sns.scatterplot(x = X_embedded[:,0], y = X_embedded[:,1], hue = y, palette = 'rocket', legend = 'full');

In [9]:
pca = PCA(n_components=2)
pca = pca.fit_transform(X)

In [ ]:
plt.figure(figsize=(12,10))
sns.scatterplot(x= pca[:, 0], y = pca[:, 1], hue = y, palette = 'rocket', legend = 'full');